<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangzy.aidlclient">


    <!--android:authorities="com.wangzy.provider.permission"-->
    <!--android:readPermission="com.wangzy.provider.permission.ReadPermisson"-->
    <!--android:writePermission="com.wangzy.provider.permission.WritePermisson"-->
    <uses-permission android:name="com.wangzy.provider.permission.ReadPermisson"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wangzy.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wangzy.activity.MessengerClientActivity" />
        <activity android:name="com.wangzy.login.LoginActivity"></activity>
    </application>

</manifest>