<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wangzy.exitappdemo">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="com.wangzy.provider.permission.ReadPermisson"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 百度需要 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/star"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@drawable/star"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="mode.a">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BActivity" />
        <activity android:name=".activity.CActivity" />
        <activity android:name=".activity.DActivity" />
        <activity android:name=".activity.LeakActivity" />
        <activity android:name=".activity.EventStudyActivity" />
        <activity android:name=".activity.ViewStubActivity" />
        <activity android:name=".activity.ImageActivity" />
        <activity
            android:name=".activity.ActivityLifeTest"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.LiveActivity"
            android:theme="@style/LiveStyle" />
        <activity android:name=".mvp.MVPActivity" />
        <activity android:name=".activity.AnimateActivity" />
        <activity android:name=".activity.TimeLineActivity" />
        <activity
            android:name="com.wangzy.work.WorkMainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.wangzy.work.SimpleActivity"
            android:label="@string/title_activity_simple" />
        <activity
            android:name="com.wangzy.work.TrendViewActivity"
            android:label="@string/title_activity_trend_view" />
        <activity
            android:name="com.wangzy.work.TrendViewMarkActivity"
            android:label="@string/title_activity_trend_view_mark" />
        <activity
            android:name="com.wangzy.work.PieViewActivity"
            android:label="@string/title_activity_pie_view" />

        <!-- service -->
        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.GrayService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name=".service.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name=".service.GrayService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name=".service.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name=".receiver.WakeReceiver$WakeNotifyService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".receiver.WakeReceiver$WakeGrayInnerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.ServiceWithToast"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.HomeReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.AIDLService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl_service" />
        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true" />

        <!-- receiver -->

        <receiver
            android:name=".receiver.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wake.gray" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
            </intent-filter>
        </receiver>

        <!-- provider -->

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.wangzy.provider.permission"
            android:exported="true"
            android:readPermission="com.wangzy.provider.permission.ReadPermisson"
            android:writePermission="com.wangzy.provider.permission.WritePermisson" />

        <activity android:name=".activity.RxActivity" />
        <activity android:name=".activity.AccessbilifyActivityDemo" />

        <service
            android:name=".service.MyAccService"
            android:enabled="true"
            android:exported="true"
            android:label="后台助手By Sand"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

        <activity android:name="com.wangzy.work.FlightSeatActivity" />
        <activity android:name="com.wangzy.flight.FlightSeatListActivity"/>
    </application>

</manifest>